/* CSS Overrides */

html {
    width:100%;
    background: rgba(0,0,0,0.01);
    min-height: 100%;
}

/* CSS Animation */

.dot {
    height: 20px;
    width: 20px;
    background-color: #f8f9fa;
    border-radius: 50%;
    display: inline-block;
  }
  
  .blink_me {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }