/* CSS Overrides */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    background: rgba(0,0,0,0.01);
    background-image: url("../img/98-bg-008080.png");
    height: 100%;
}

body {
  min-height: 100%;
}